{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h1>Inscription</h1>
				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.firstname) }}
				{{ form_row(registrationForm.lastname) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword) }}
				{{ form_row(registrationForm.roles) }}
				{{ form_row(registrationForm.manages) }}
				{{ form_row(registrationForm.owns) }}
				<button type="submit" class="btn my-3">M'inscrire</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</section>
{% endblock %}
