{% extends 'base.html.twig' %}

{% block title %}Liste des clients
{% endblock %}
{% block javascripts %}
	<script type="text/javascript"></script>
{% endblock %}
{% block body %}
	<style></style>

	<div class="container-fluid">
		<div class="row">
			<h1>Liste des clients</h1>
			<a href="{{ path('app_client_form') }}">Créer un nouveau client</a>
		</div>
		<div class='row'>
			{% for client in clients %}
				{# {{ dump(client.switchActive) }} #}
				<div class='col-12 col-md-6 border rounded p2'>
					<div class="row m-1">
						<div class="col-5">{{ client.logoUrl }}
						</div>
						<div class="col-7">
							<p>{{ client.id }}</p>
							<p>{{ client.name }}</p>
							<p>{{ client.shortDescription }}</p>
							<p>{{ client.url }}</p>
						</div>
					</div>
					<div class='row m-1'>
						<a href="{{ path('app_clients_edit', {'id': client.id}) }}">modifier</a>
						{% if client.active == true %}
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck{{client.id}}" checked disabled>
								<label class="form-check-label" for="flexSwitchCheck{{client.id}}">Actif ?</label>
							</div>
						{% else %}
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck{{client.id}}" disabled>
								<label class="form-check-label" for="flexSwitchCheck{{client.id}}">Actif ?</label>
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
